extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header: .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Course Information
            .panel-body
              P= location.instructor
              p= location.address
              p= location.credits
              P= location.office
              p= location.time 
      .row
        .col-xs-12.col-sm-6
          a.btn.btn-default.pull-left(href="/class/add_assignment/new") Add Assignment
      .row
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title LGA 01
            .panel-body.review-container
            p Due: January 16 2018
            p Points: 10 
            p Status: Submitted
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title LGA 02
            .panel-body.review-container
            p Due: January 18 2018
            p Points: 10 
            p Status: Submitted
