extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header: .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Course Information:
            .panel-body
              p Instructor: #{location.instructor}
              p Location: #{location.address}
              p Credit Hours: #{location.credits}
              each time in location.openingTimes
                p
                  | #{time.days} : 
                  if time.closed
                    | closed
                  else
                    | #{time.opening} - #{time.closing}
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title Customer reviews
            .panel-body.review-container
              each review in location.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.reviewAuthor #{review.title}
                      small.reviewTimestamp.pull-right Status: #{review.status}
                    .col-xs-12
                      p !{(review.dueDate).replace(/\n/g, '<br/>')}
                      p Points: #{review.points}
        .col-xs-12
          a.btn.btn-default.pull-right(href="/location/review/new") Add Assignment
